@import url("https://fonts.cdnfonts.com/css/poppins");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  min-height: 100vh;
  background: #fafafa;
}

header {
  position: relative;
  width: 100%;
  height: 100vh;
  background: linear-gradient(-90deg, #0f0b1c 65%, #fafafa 35%);
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  font-size: 2rem;
  font-weight: 700;
  color: #0f0b1c;
}
.menu li {
  position: relative;
  display: inline-flex;
  padding: 0.5rem 1.5rem;
}

.menu li a {
  font-size: 1.3rem;
  font-weight: 500;
  color: #fafafa;
  z-index: 2;
  transition: 0.5s;
}
.menu li:hover a {
  color: #0f0b1c;
}

.menu li::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #fafafa;
  top: 0;
  left: 0;
  z-index: 1;
  border-radius: 1rem;
  transform: scaleX(0);
  transition: 0.5s;
}
.menu li:hover::before {
  transform: scaleX(1);
}

.home {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8%;
}

.home-img {
  width: 32rem;
  height: 32rem;
  background: #0f0b1c;
  border-radius: 50%;
  border: 1.2rem solid #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 1.2rem solid #0f0b1c;
}

.home-img img {
  position: relative;
  max-width: 26rem;
  clip-path: circle(50% at 50% 50%);
  right: 2rem;
  bottom: 2.5rem;
}

.home-content {
  max-width: 38rem;
  color: #fafafa;
  text-align: right;
}
.home-content h1 {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.5;
}
.home-content h3 {
  font-size: 2.5rem;
  color: #4070f4;
}
.home-content p {
  font-size: 1.1rem;
  margin: 1rem 0;
}
.social-icons a {
  display: inline-flex;
  width: 3rem;
  height: 3rem;
  border: 0.1rem solid #fafafa;
  border-radius: 50%;
  margin-left: 1rem;
  font-size: 1.2rem;
  align-items: center;
  justify-content: center;
  color: #fafafa;
}
.social-icons a:hover {
  background: #4070f4;
}
.btn {
  display: inline-block;
  background: #4070f4;
  color: #fafafa;
  margin-top: 2rem;
  padding: 0.8rem 5rem;
  font-size: 1.5rem;
  border-radius: 2rem;
  font-weight: 500;
  transition: 0.5s;
}
.btn:hover {
  background: #fafafa;
  color: #0f0b1c;
  box-shadow: 0 0.1rem 0.5rem #4070f4;
}
